.app {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.ourValuesImage {
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
  border-radius: 12px;
  object-fit: contain;
}

.crewImagesRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.ourCrewImage {
  width: 23%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.partnersRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.partnerLogo {
  width: 120px;
  height: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
